.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

form{
width: 90%;
}

form h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-element{  
    display: flex;
    flex-direction: column;
}

.form-element label{
    font-size: 1rem;
    text-align: left;
}

.form-input{
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
    outline: none;
    border: 2px dashed var(--secondary-color);
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: monospace;    
}

.form-textarea{
    resize: vertical;
}
.company-image{
    display: none;
}

.btn-div{
    text-align: center;
    margin-bottom: 24px;
}

.submit-btn{
    height: 40px;
    min-width: 120px;
    font-size: 1.1rem;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 5px;
}

.submit-btn:hover{
    color: var(--primary-background);
    text-decoration: underline;
}


/* Medium (Android Expanded): 1280 x 800 pixels */
@media screen and (min-width: 801px){

.company-image{
    display: inline-block;
    width: 30%;
}

.form-element{  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-input{
    width: 85%;    
}

}

/* Large (Desktop): 1440 x 1024 pixels */
@media screen and (min-width: 1024px){
.company-image{
    display: block;
    width: 50%;
    max-width: 500px;
}

form{
    width: 50%;
}
.form-element label{
    width: 20%;
}
.form-element{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.contact-info{
    width: 40%;
}
div.contact-social{
    width: 40%;
}
}
