
/* Highlight nav */
.highlight{
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

article {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 24px;
}

article div img{
  width: 90%;
  border-radius: 10px;
  margin: 24px;

}
.company-image{
  display: flex;
  justify-content: center;
}

.company-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 24px;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  margin: 10px 0 10px 0;
}
.title h1{
  size: 2rem;
  width: 100%;
  text-align: center;
}

section div img{
  width: 100%;
  text-align: left;
}
