main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}
article {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 1.5rem;
  padding: 1.5rem;
}

.anouncement{
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
}

.anouncement-text{
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  color: var(--primary-background);
  font-family: monospace;
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 1rem;
  animation: slide-text 2s ease-in-out 0s 10 alternate none;

}

@keyframes slide-text{
  0% {
    transform:translateX(200px);
opacity:0;
  }
  100% {
    transform:translateX(0);
opacity:1;
  }
}

@keyframes scale-image{
  0% {
    transform:scale(.2);
  }
  100% {
    transform:scale(1);
  }
}

.company-name-article{
  display: none;
}
article p{
  font-size: 1rem;
  margin: 1rem;
}
.company-image img{
  width: 100%;
  border-radius: 1rem;
  animation: scale-image 1s linear 0s 1 normal;
}


.company-h2{
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0;
}
.company-h1{
  font-size: 1.2rem;
  margin: 1rem 0;
}
.btn{
  width: 30%;
  display: inline-block;
  background-color: var(--button-color);
  color: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 0 1rem 0;
  text-align: center;
  cursor: pointer;
}
.btn1{
  width: 30%;
  display: none;
  background-color: var(--button-color);
  color: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 0 1rem 0;
  text-align: center;
  cursor: pointer;
}
.title{
  display: none;
}
.service1{
  display: none;  
}
.service2{
  display: none;  
}
.service3{
  display: none;  
}


/* Medium (Android Expanded): 1280 x 800 pixels */
@media screen and (min-width: 801px){
  .btn{
    display: none;
  }
  .btn1{
    width: 30%;
    display: inline-block;
  }
  .company-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
  .company-name-article{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
  }
  .company-h2{
    font-size: 1rem;
  }
  .company-h1{
    font-size: 1.5rem;

  }

  section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 1rem;
  }
  section div img{
    width: 100%;
    max-height: 185px;
  }

  .title{
    display: inline-block;
  }

  .service1{
    width: 40%;
    display: flex;
  }
  .service2{
    width: 40%;
    display: flex;  
  }
  .service3{
    display: none;  
  }
}

/* Large (Desktop): 1440 x 1024 pixels */
@media screen and (min-width: 1024px){  
  .btn{
    display: none;
  }
  .btn1{
    width: 30%;
    display: inline-block;
  }
  article {
    display: flex;
    flex-direction: row-reverse;
    margin: 1.5rem 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 0;
  }

  .company-name-article{
    display: none;
  }
  .company-text-article{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
  }

  .company-image{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .company-image img{
    width: 100%;  
    border-radius: 0;
  }

  .company-description{
    display: inline-block;
    align-items: center;
  }

  section div img{
    width: 100%;
    max-height: 159px;

  }
  .service1{
    width: 27%;
    display: flex;  
  }
  .service2{
    width: 27%;
    display: flex;  
  }
  .service3{
    width: 27%;
    display: flex;  
  }
}
