:root{
    --primary-color: #ffb6b6;
    --secondary-color: #d9d9d9;
    --tertiary-color: #4d4d4d;
    --primary-background: #a5a5a5;
}
body{
    margin: 0;
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header{
    background-color: var(--primary-color);
    color: var(--primary-background);
    padding: 1rem;
    text-align: center;
}
.logo-name{
    font-size: 2rem;
    font-weight: bold;
}
.logo-name img{
    height: 100px;
}

.name{
    font-size: 28px;
    margin-top: 0;
}

.company-text{
    color: var(--secondary-color);
}

.name-text{
    color: #45a7c5;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
nav a{
    color: var(--tertiary-color);
    text-decoration: none;

}

footer{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: flex;
    justify-content: space-around;
}
.social-media i{
    font-size: 2rem;
    color: var(--tertiary-color);
}
.info{
    color: var(--tertiary-color);
}