:root{
    --primary-color: #9EFFAD;
    --secondary-color: #d9d9d9;
    --tertiary-color: #4d4d4d;
    --primary-background: black;
    --text-color: white;
    --button-color: #4CAF50;
}

body{
    margin: 0;
    background-color: var(--primary-background);
    /* This is  one way to place header, body and footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--primary-background);
    padding: 0.5rem 1rem;
    text-align: center;
}
.logo-name{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.logo-name img{
    height: 5rem;
    margin: auto;
}

.name{
    width: 70%;
    font-size: 2rem;
    margin: 0;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem;
}
nav a{
    color: var(--tertiary-color);
    text-decoration: none;
}

/* Highlight nav */
.highlight{
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
  }

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 2rem;
}
.map{
    display: none;
}
.subscribe{
    display: none;
}
.social-media{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.social-media a i{
    font-size: 1.5rem;    
    color: var(--tertiary-color);
}
.social-name{
    display: none;
}
.info{
    color: var(--tertiary-color);
    font-size: 1rem;
}
.footer-address{
    display: block;
}
.footer-phone, .footer-email{
    display: none;
}

/* Small Device Small (Android Compact): 412 x 917 pixels
Site is developed on Mobile-Firt approach*/

/* Medium (Android Expanded): 1280 x 800 pixels */
@media screen and (min-width: 801px){
    header{
        display: flex;
        justify-content: space-between;
    }
    .logo-name img{
        margin: 1rem;
    }
    .name{
        display: none;
    }
    nav{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: auto 0;
    }
    .highlight{
        padding: 0.8rem;
    }

    footer{
        display: flex;
        flex-direction: row-reverse;
    }
    .map{
        display: none;
    }
    .subscribe{
        display: none;
    }
    .social-media{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }
    .info{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }
    .footer-address{
        display: flex;
    }
    .footer-email{
        display: flex;
    }
    .footer-phone {
        display: none;
    } 

}

/* Large (Desktop): 1440 x 1024 pixels */
@media screen and (min-width: 1024px){  
    .name{
        width: 30%;
        font-size: 2.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        width: 50%;
    }
    .highlight{
        padding: 2rem 1rem;
     }
    footer{
        display: flex;
        flex-direction: row;

    }
    .map{
        display: block;
        order: 1;
        width: 25%;
    }
    iframe{
        width: 100%;
        height: 100%;

        }
    .info{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        order: 2;
    }
    .footer-address, .footer-email, .footer-phone{
        display: flex;
        margin: 0;
    }
    .social-media{
        width: 10%;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        padding: 0 1rem;
        order: 3;
    }
    .social-name{
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        order: 4;
    }
    .social-name p{
        font-size: 1.5rem;
        color: var(--tertiary-color);
        margin: 0;      

    }
    .subscribe{
        display: block;
        width: 30%;
        order: 5;
    }
    .subscribe h3{
        text-align: center;
        margin: 8px 0;
    }
    input[type=text], input[type=email]{
        width: 80%;
        padding: 5px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input[type=submit] {
        background-color: var(--button-color);
        color: var(--text-color);
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 4px;

    }

}